.container {
	margin: 20px;
}


.author {


}

.quote-table{
	width: 100%;
}

th {
	text-align: left;
}

.rate-tpl {
	color: gray;
}

#quote-row-tpl {
	display: none;
}

.rating, .avg-rating {
  color: #C0C0C0;
}

.enter-rating {
  width: 32px;
}