.author {


}

.quote-table{
	width: 100%;
}

th {
	text-align: left;
}

.rate {
	color: gray;
}

#quote-row-tpl {
	display: none;
}

.rating, .avg-rating {
  color: #C0C0C0;
}

.enter-rating {
  width: 25px;
}